.header {
  text-align: center;
  padding: 30px 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.app-title {
  font-size: 38px;
  font-weight: 700;
  color: #3a7af3;   /* Professional blue */
  margin: 0;
}

.tagline {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: bold;
  margin-top: 5px;
}